<div class="splash">
  <div class="splash-logo logo">
    <span class="splash-logo-left">Smart</span><span>&nbsp;</span><span class="splash-logo-right">Budget</span>
  </div>
  <div class="splash-links">
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-top' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-bottom' %>
  </div>
</div>