.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: $default-font-size;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  &-top {
    background-color: $color-primary;
    color: $color-white;
  }

  &-bottom {
    color: $color-text;
  }

  &-logout {
    background-color: transparent;
    border: none;
  }

  &-green {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8rem;
    background-color: $color-secondary;
    margin-top: auto;

    & a {
      width: 90%;
      color: $color-white;
      border: 1px solid $color-white;
      cursor: pointer;
    }
  }
}
