.expenses {
  width: 94%;
  margin: 0 auto;
  font-weight: 300;

  &-expense {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: $color-white;
    margin-top: 0.8rem;
    align-items: center;

    h4 {
      text-transform: capitalize;
    }

    &-group {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      button {
        background-color: transparent;
        border: none;
        width: 2rem;

        img {
          width: 100%;
        }
      }

      span {
        font-weight: 700;
      }
    }
  }
}
